<!-- FB THING -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Commissioner Bio Info  -->
<div class="container">
	<div class="row">
	<h1>Here's your commissioner</h1>
	</div>
	
	<div class="row">
		<h3><%= @commissioner.name %></h3>
		<h4>District <%=@commID%> </h4>
		</div>
		<div class="col-md-5 col-md-offset-1">
		<!-- <img src="/assets/images/commissioners/<%=  %>.jpg"> -->
		<%= image_tag(@commPicURL, :height => "300", alt: "Commissioner Portrait", class: "img-circle") %>
	</div>
	<div class="col-md-4">
		
		District Phone:<a href="tel:<%=@commissioner.phone%>"> <%=@commissioner.phone%></a><br> Email: <a href="mailto: <%=@commissioner.email%>"> <%= @commissioner.email %> </a> <br>
		<a href="<%= @commissioner.url %>" target="_blank"> Official website </a>
	</div>
</div>

<!-- Read from file Commissioner About Me -->
<div class="container">
<h4> About Commissioner <%= @commissioner.name %> </h4>
<p><%= @commAboutText %></p>
</div>

<!-- Social Media Stuff -->
<div class="container">
<% if !@commissioner.facebook.blank? || !@commissioner.twitter.blank? %> 
	<h4> Social Media for Commissioner <%= @commissioner.name %> </h4>
	
	<% if !@commissioner.facebook.blank? %>
	<!-- Facebook Object -->
	<div class="col-md-6"> 
		<div class="fb-page" data-href="https://www.facebook.com/<%=@commissioner.facebook %>/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div> 
	</div>

	<% end %>
	
	<!-- Twitter Thing -->
	<% if !@commissioner.twitter.blank? %>
	<div class="col-md-6" id="twitter-help">
	
	<a class="twitter-timeline"  href="https://twitter.com/<%= @commissioner.twitter%>" data-widget-id="704701604138713088" data-screen-name="<%= @commissioner.twitter%>">Tweets by @<%= @commissioner.twitter %></a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    	<% end %>
	<% else %>
	<h4> Sorry, Commissioner <%= @commissioner.name %> does not have social media. </h4>

    <!-- No Social Media -->
	
	<% end %>
</div>